Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name nicholasrhodes.co.uk;

        ssl on;
        ssl_certificate /etc/letsencrypt/live/nicholasrhodes.co.uk/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/nicholasrhodes.co.uk/privkey.pem;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }


container_commands:
  00_check_config:
    command: "ls -la /etc/nginx"
  10_stop_nginx:
    command: "sudo service nginx stop"
  20_install_certbot:
    command: "wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto"
  30_get_cert:
    command: "sudo ./certbot-auto certonly --debug --email nrhodes91@gmail.com --non-interactive --agree-tos --standalone --domains nicholasrhodes.co.uk --keep-until-expiring"
  40_link:
    command: "sudo ln -sf /etc/letsencrypt/live/nicholasrhodes.co.uk /etc/letsencrypt/live/ebcert"
  40_start_nginx:
    command: "sudo service nginx start"


# vim: ft=yaml
