---
---

body {
    font-family: "Ubuntu";
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #2e6e9b;
}
.grid {
    display: grid;
}
.page-container {
    grid-template-columns: 25% 75%;
    @media(max-width: 769px) {
        grid-template-columns: 1fr;
    }
    max-width: 1100px;
    margin: 0 auto;
}
.grid-item {
    grid-column: auto;
    margin: 30px 0 30px 1.6%;
    &.sidebar {

        h1 {
            text-align: center;
        }

        .nav-links {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
        }
        .profile {
            border-radius: 100%;
            width: 100%;
            max-width: 200px;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }
}
.footer {
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0;
    .grid-item {
        text-align: center;
    }
}
.post:not(:first-child) {
    margin-top: 50px;
}
.post-date {
    font-size: 14px;
    font-style: italic;
}
.highlighter-rouge {
    font-family: "Ubuntu Mono", "Liberation Mono", monospace;
    background-color: #efefef;
    overflow: auto;
}
