---
---

body {
    font-family: "Ubuntu";
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #0054a8;
}
.wc-container {
    display: grid;
    grid-template-columns: 25% 75%;
    max-width: 1200px;
    margin: 0 auto;
}
.grid-item {
    &.sidebar {
        grid-column: 1;
        margin-right: 20px;

        h1 {
            text-align: center;
        }

        .nav-links {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
        }
        .profile {
            background-image: url("/assets/images/profile.jpg");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 100%;
            height: 200px;
            width: 200px;
            margin: 0 auto;
            display: block;
        }
    }
    .posts {
        grid-column: 2;
        margin-left: 20px;
    }
}
