<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="/favicon.ico?v={{ site.time }}">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.harmony.name }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.harmony.meta_description }}{% endif %}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

        <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/reset.css">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/syntax.css">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css">

    </head>
    <body class="{{ site.harmony.basetheme }}">
        <header class="main-header">
            <div class="container">
                <h1 class="row"><a href="{{ site.url }}/">{{ site.harmony.name }}</a></h1>
                {% include header-links.html %}
            </div>
        </header>
        {{ content }}

        <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/reset.css">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/syntax.css">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css">
    </body>
</html>
