---
layout: default
---

<div class="post">
    <h2>{{ page.title }}</h2>
    <p class="post-meta">
    {% if page.categories.size > 0 %}
    <span class="categories">
        {{ page.categories | array_to_sentence_string }}
    </span> |
    {% endif %}
    <span class="post-date">
        {{ page.date | date: "%b %-d, %Y" }}
    </span>
    </p>
    {{ content }}
</div>

<div class="post-footer">
    <div class="column-1">
        {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}"><< Previous</a>
        {% endif %}
    </div>
    <div class="column-2"><a href="{{ site.url }} ">Home</a></div>
    <div class="column-3">
        {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}">Next >></a>
        {% endif %}
    </div>
</div>
