---
layout: default
---

<div class="page-content wc-container">

	<div class="post">
		<h2>{{ page.title }}</h2>
		<p class="post-meta">
			{% if page.categories.size > 0 %}
      <span class="categories">
      {{ page.categories | array_to_sentence_string }}
      </span> |
	    {% endif %}
	    <span class="post-date">
    	{{ page.date | date: "%b %-d, %Y" }}
	    </span>
		</p>
        {{ content }}
	</div>

	<div class="post-footer">
		<div class="column-1">
			{% if page.previous %}
				<a href="{{page.previous.url | prepend: site.baseurl | prepend: site.url }}"><< Previous</a>
			{% endif %}
		</div>
		<div class="column-2"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }} ">Home</a></div>
		<div class="column-3">
			{% if page.next %}
				<a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">Next >></a>
			{% endif %}
		</div>
	</div>
</div>
